header{/*Positionne le header dans le coin parfaitement en haut à gauche*/
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

header nav {     /*Positionne le header sans burger*/
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #373737;
}

header nav > div {       /*S'occupe de l'apparence du header sans burger*/
    text-align: center;
    border-radius: 15px;
    flex-grow: 1;
    left: 60%;
    margin: 5px 5px 5px 5px;
}

header nav > div:hover {/*Augmente la taille de l'élement sur lequel la souris passe*/
    flex-grow: 1;
    background-color: #CCCCFF;
    transition:400ms;/*Permet d'éviter que l'animation soit instantanée*/
}

header nav div a{
    font-size: 25px; /*Taille des liens dans le header*/
    color: #CCCCFF;
    text-decoration: none;
}

header nav div:hover a{/*Met en gras le texte sur laquelle passe la souris dans le menu*/
    font-weight: bolder;
    color: #373737;
    transition:500ms;
}

body {
    background-color: #CECECE;
}

main, footer{
    position: relative;
    top: 50px;
}

fieldset{ /*Met le fond en gris et arrondit les coins*/
    background-color: #4b4f5377 ;
    border:2px solid ;
    border-radius:8px;
    margin-bottom: 20px;
}

footer p {
    border: 1px solid black;
    text-align:right;
    padding-right:1em;
}
