/*Positionne le header dans le coin parfaitement en haut à gauche*/
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

/*Positionne le header sans burger*/
header nav {     
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--header-color-bg);
}

/*S'occupe de l'apparence du header sans burger*/
header nav > div {
    text-align: center;
    border-radius: 15px;
    flex-grow: 1;
    left: 60%;
    margin: 5px 5px 5px 5px;
}

/*Augmente la taille de l'élement sur lequel la souris passe*/
header nav > div:hover {
    flex-grow: 1;
    background-color: var(--header-link-color);
    transition:400ms;/*Permet d'éviter que l'animation soit instantanée*/
}

/*Taille des liens dans le header*/
header nav div a{
    font-size: 25px; 
    color: var(--header-link-color);
    text-decoration: none;
}

/*Met en gras le texte sur laquelle passe la souris dans le menu*/
header nav div:hover a{
    font-weight: bolder;
    color: var(--header-color-bg);
    transition:500ms;
}

body {
    background-color: var(--body-color-bg);
}

main, footer{
    position: relative;
    top: 50px;
}

h1{
    text-align: center;
    color: var(--link-color);
}

h3{
    text-align: center;
    font-weight: normal;
}

p{
    color: var(--text-color);
}

table{
    margin: auto;
    border-collapse: collapse;
}

th, td{
    border: 2px solid var(--border-color);
    padding: 20px 80px;
    text-align: center;
    color: var(--text-color);
}

a{
    color: var(--link-color);
}

/*============FORMULAIRE============*/

/*Met le fond en gris et arrondit les coins*/
fieldset{ 
    background-color: var(--fieldset-color-bg);
    border: 2px solid var(--border-color);
    border-radius:8px;
    margin-bottom: 20px;
}

fieldset > * {
    color: var(--text-color);
}

fieldset > legend{
    font-size: 18px;
    text-align: center;
}

fieldset > p {
    font-size: 24px;
    text-align: center;
}

#createAccount {
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--button-color-bg);
    color: var(--button-color);
}

input[type=text], input[type=password] {
  background-color: var(--button-color-bg);
  border: 1px solid var(--border-color);
  padding: 10px 200px;
  font-size: 15px;
}

input[type=submit] {
  background-color: var(--button-color-bg);
  border: 1px solid var(--border-color);
  color: var(--button-color);
  padding: 10px 20px;
  cursor: pointer;
}

footer{
    color: var(--text-color);
    border: 1px solid var(--border-color);
    text-align: right;
    padding: 9px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

footer input[type=submit]{
    padding: 5px 10px;
}