/*Positionne le header dans le coin parfaitement en haut à gauche*/
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

/*Positionne le header sans burger*/
header nav {     
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #373737;
}

/*S'occupe de l'apparence du header sans burger*/
header nav > div {
    text-align: center;
    border-radius: 15px;
    flex-grow: 1;
    left: 60%;
    margin: 5px 5px 5px 5px;
}

/*Augmente la taille de l'élement sur lequel la souris passe*/
header nav > div:hover {
    flex-grow: 1;
    background-color: #CCCCFF;
    transition:400ms;/*Permet d'éviter que l'animation soit instantanée*/
}

/*Taille des liens dans le header*/
header nav div a{
    font-size: 25px; 
    color: #CCCCFF;
    text-decoration: none;
}

/*Met en gras le texte sur laquelle passe la souris dans le menu*/
header nav div:hover a{
    font-weight: bolder;
    color: #373737;
    transition:500ms;
}

body {
    background-color: #CECECE;
}

main, footer{
    position: relative;
    top: 50px;
}

h1{
    text-align: center;
}

table{
    margin: auto;
    border-collapse: collapse;
}

th, td{
    border: 2px solid black;
    padding: 20px 80px;
}


/*Met le fond en gris et arrondit les coins*/
fieldset{ 
    background-color: #373737;
    border: 2px solid ;
    border-radius:8px;
    margin-bottom: 20px;
}

fieldset > * {
    color: white;
}

footer p{
    border: 1px solid black;
    text-align: right;
    padding-right: 1em;
}
